body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFFFF;
}

.log_sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222D7B;
    overflow-x: hidden;
    overflow-y: hidden; /* Enable vertical scrolling if needed */
    padding-top: 0;
}


.log_logo-container {
    text-align: center; /* Center the content horizontally */
    margin-top: 10px;
}

.log_sidebar .log_logo-container img {
    width: 50px; /* Increased logo size */
    height: 50px; /* Increased logo size */
    margin-bottom: 10px; /* Add margin to separate from the title */
    margin-top: 5px;
}

.log_sidebar .log_logo-container .title {
    color: #ddd;
    font-weight: bold;
    font-size: 15px; /* Increased font size */
    margin: 0; /* Adjusted margin */
}

/* Premium-looking design for sidebar */
.log_sidebar ul li a {
    padding: 15px 15px; /* Adjusted padding */
    text-decoration: none;
    font-size: 16px;
    color: #ddd;
    display: block;
    transition: 0.3s;
    position: relative; /* Added */
}

.log_sidebar ul li a:hover {
    color: #fff;
    background-color: #007bff;
}


.log_sidebar ul li a::before {
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    width: 4px;
    height: 0;
    margin-top: 26px;
    background-color: lightgoldenrodyellow; /* Accent color */
    transition: height 0.3s, top 0.3s;
    border-radius: 2px;
    transform: translateY(-50%);
}

.log_sidebar ul li a:hover::before {
    height: 100%;
    top: 0;
}

.log_sidebar ul {
    padding: 0;
    list-style-type: none; /* Remove bullets */
}

.log_sidebar ul li a.active {
    color: #fff;
    background-color: #007bff; /* Background color when active */
}

.log_sidebar ul li a[href="../activity_logs/index.php"] {
    background: linear-gradient(to right, lightgoldenrodyellow 0%, lightgoldenrodyellow 4px, transparent 4px, transparent 100%);
    background-color: #007bff; /* Background color when active */
}

.log_sidebar ul li a[href="./index.php"]:hover {
    background-color: #007bff; /* Hover color specific to "Product Out" tab */
    color: #fff; /* Change text color on hover */
}

.log_sidebar ul li a[href="../sign-in/login.html"].active {
    background-color: transparent; /* Remove background color for the logout link when active */
}

.log_settings-link a {
    display: block;
    padding: 15px 15px; /* Adjust padding to match other items */
    font-size: 16px; /* Adjust font size to match other items */
    color: #ddd; /* Text color to match other items */
    text-decoration: none;
    transition: 0.3s;
    border-top: 1px solid #2c3e50; /* Separator line, adjust color as needed */
    margin-top: 175px;
}

.log_settings-link a:hover {
    background-color: #007bff; /* Background color on hover to match other items */
    color: #fff; /* Text color on hover */
}

.log_settings-link a::before {
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    width: 4px;
    height: 0;
    background-color: lightgoldenrodyellow; /* Side bar color */
    transition: height 0.3s, top 0.3s;
    border-radius: 2px;
}

.log_settings-link a:hover::before {
    height: 6.5%; /* Full height on hover */
    bottom: 63px; /* Align to top */
}

.log_user-info {
    padding: 15px;
    background-color: #192f6a; /* Dark blue color */
    margin-top: 2px;
    color: #fff; /* White text color */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid #fff; /* Add top border */
    transition: background-color 0.3s, transform 0.3s ease; /* Smooth transition effect */
}

/* Hover effect */
.log_user-info:hover {
    background-color: #007bff; /* Darker blue color on hover */
}

/* Animation effect */
@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply animation */
.log_user-info {
    animation: slideIn 0.5s ease; /* Slide-in animation */
}

.main-content {
    margin-left: 250px; /* adjusted for sidebar */
    background-color: #ffffff; /* white background for the content area */
    padding: 20px; /* padding inside the content area */
    min-height: calc(100vh - 40px); /* adjust the height based on your header/footer */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.main-content h1 {
    font-size: 24px; /* size of your main titles */
    color: #333; /* dark grey for text */
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #007bff; /* blue bottom border for the title */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left; /* Align text to the left for all table content */
}

th, td {
    padding: 10px 15px;
    border-top: 1px solid #eaeaea;
}

th {
    background-color: #007bff; /* header background */
    color: white;
    font-weight: bold; /* optional: makes header text bold */
}

/* Ensure table headers and cells have the same padding and text alignment */
th, td {
    text-align: left; /* Align to the left */
    vertical-align: middle; /* Align vertically to the middle */
}

/* Zebra striping for rows and hover effect */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e8f4ff; /* light blue for hover effect */
}

.export-btn {
    text-align: right; /* Aligns the button to the right */
    margin-right: -20px;
    padding: 10px; /* Adds some space around the button */
    /* Add any additional styling you want for the button container */
}

#exportBtn {
    padding: 5px 15px; /* Adds some padding inside the button */
    background-color: #4CAF50; /* Gives the button a green background color */
    color: white; /* Text color */
    border: none; /* Removes the border */
    border-radius: 4px; /* Rounds the corners */
    cursor: pointer; /* Changes the mouse cursor on hover */
    height: 40px;
    /* Add any additional styling you want for the button itself */
}

#exportBtn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.header-container {
    display: flex;
    justify-content: space-between; /* This separates the title and the button */
    align-items: center; /* This centers them vertically */
    padding: 10px; /* Add padding if needed */
}



/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.search-bar input[type="text"] {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Remove default outline */
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}




/* Responsive design adjustments */
@media (max-width: 768px) {
    .log_sidebar {
        /* adjust sidebar for mobile view if necessary */
        position: static;
        width: 100%;
        height: auto;
    }
    
    .main-content {
        margin-left: 0; /* remove the left margin */
        padding: 10px;
    }
}